<header>
	<div [hidden]="!isInitialised" class="float-right login">
		<app-login></app-login>
	</div>
	<div class="header">
		<div class="row">
			<div class="col-md-4 col-xs-12 officefloor-banner">
				<a href="http://officefloor.net"><img
					src="../assets/OfficeFloorBannerImage.png" /></a>
			</div>
			<div class="col-md-4 col-xs-12" [routerLink]="'/'">
				<h1 class="text-center">Subscription</h1>
			</div>
		</div>
	</div>
</header>

<app-alert></app-alert>
<div [hidden]="isInitialised" class="loading">
	<div class="d-flex justify-content-center">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</div>
<div [hidden]="!isInitialised" class="ready">
	<div [hidden]="!user" class="container" class="content">
		<router-outlet></router-outlet>
	</div>
	<div [hidden]="user" class="container" class="login-content">
		<p>Welcome to OfficeFloor subscription</p>
		<div>
			Please
			<app-login></app-login>
		</div>
	</div>
</div>

<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col text-right">
				<a [routerLink]="['/terms_conditions_privacy']">Terms,
					Conditions and Privacy</a>
			</div>
		</div>
	</div>
</footer>