<form [formGroup]="registerDomainForm" (submit)="registerDomain()">
	<div class="form-row">
		<label class="sr-only" for="domainName">Domain Name</label>
		<div class="input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">Domain</div>
			</div>
			<input type="text" class="form-control" id="domainName"
				placeholder="e.g. domain.com" formControlName="domainName"
				[class.is-invalid]="registerDomainNameError"
				[class.is-valid]="isValidDomainName" />
			<div class="input-group-append">
				<button type="submit" class="btn btn-primary">Register</button>
			</div>
			<div class="invalid-feedback">{{registerDomainNameError}}</div>
		</div>
	</div>
</form>
